{% if session.getFlashBag().has('flash_success') %}
<div class="container-fluid">
	<div class="alert alert-success alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<p>{{ session.getFlashBag().get('flash_success')[0] }}</p>
	</div>
</div>
{% endif %}

{% if session.getFlashBag().has('flash_error') %}
<div class="container-fluid">
	<div class="alert alert-danger alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<p>{{ session.getFlashBag().get('flash_error')[0] }}</p>
	</div>
</div>
{% endif %}

{% set errors = session.has('errors') ? session.get('errors') : [] %}
{% if errors %}
<div class="container-fluid">
	<div class="alert alert-danger alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<ul>
		{% for error in errors %}
			<li>{{ error | raw }}</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}