<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<form id="contacts-form" action="/contacts/store" method="post" role="form">
				{% include 'contacts/_form.html' %}
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button tabindex="2" class="form-control btn btn-primary">Create</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>