<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<form 
				id="contacts-form" 
				class="create-edit-form" 
				action="/contacts/update/{{ data.id }}" 
				method="post" 
				role="form">
				{% include 'contacts/_form.html' %}
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button tabindex="2" class="form-control btn btn-primary">Update</button>
						</div>
					</div>
				</div>
			</form>

			<form 
				id="contacts-delte-form" 
				class="delete-form" 
				action="/contacts/delete/{{ data.id }}" 
				method="post" role="form">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6 col-sm-offset-3">
							<button tabindex="3" class="form-control btn btn-danger">Delete</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>