<input type="hidden" name="contact_id" id="contact_id" value="{{ data.contact_id }}">
<div class="form-group required">
	<label for="label">Label</label>
	<input type="text" name="label" id="label" tabindex="1" class="form-control" placeholder="Label" value="{{ data.label }}">
</div>
<div class="form-group required">
	<label for="item">Item</label>
	<input type="text" name="item" id="item" tabindex="1" class="form-control" placeholder="Item" value="{{ data.item }}">
</div>