{% extends "layouts/default.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="panel-body">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h1>{{ title }}</h1>
							</div>
						</div>
						<hr>
					</div>

					<div class="row">
						<div class="col-lg-12">
							{% include 'partials/flash_message.html' %}
							<form id="login-form" action="/login/post" method="post" role="form" style="display: block;">
								<input type="hidden" name="_register_token" id="_register_token" value="{{ register_token }}">
								<div class="form-group required">
									<label for="username">Username or Email</label>
									<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username or Email" value="{{ session.get('username', '') }}">
								</div>
								<div class="form-group required">
									<label for="password">Password</label>
									<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
								</div>
<!-- 								<div class="form-group text-center">
									<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
									<label for="remember"> Remember Me</label>
								</div> -->
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button id="login-submit" tabindex="4" class="form-control btn btn-login">Log In</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-lg-12">
											<div class="text-center">
												<a href="/login/reset-password" tabindex="5" class="forgot-password">Forgot Password?</a>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<p class="lead">Not member yet?
											<a href="/register/get" tabindex="6" class="forgot-password">Register here</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="../../assets/dist/js/login.bundle.js"></script>
{% endblock %}