{% extends "layouts/default.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="panel-body">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h1>{{ title }}</h1>
							</div>
						</div>
						<hr>
					</div>

					<div class="row">
						<div class="col-lg-12">
							{% include 'partials/flash_message.html' %}
							<form id="register-form" action="/register/post" method="post" role="form">
								<div class="form-group required">
									<label for="username">Username</label>
									<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="{{ session.get('username', '') }}">
								</div>
								<div class="form-group required">
									<label for="email">Email Address</label>
									<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="{{ session.get('email', '') }}">
								</div>
								<div class="form-group required">
									<label for="password">Password</label>
									<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" value="{{ session.get('password', '') }}">
								</div>
								<div class="form-group required">
									<label for="confirm-password">Confirm Password</label>
									<input type="password" name="password_match" id="password_match" tabindex="2" class="form-control" placeholder="Confirm Password" value="{{ session.get('password_match', '') }}">
								</div>
								<div class="form-group">
									<label for="first_name">First name</label>
									<input type="text" name="first_name" id="first_name" tabindex="3" class="form-control" placeholder="First name" value="{{ session.get('first_name', '') }}">
								</div>
								<div class="form-group">
									<label for="last_name">Last name</label>
									<input type="text" name="last_name" id="last_name" tabindex="4" class="form-control" placeholder="Last name" value="{{ session.get('last_name', '') }}">
								</div>
								<div class="form-group">
									<label for="dob">Date of birth</label>
									<input type="text" name="dob" id="dob" tabindex="5" readonly="true" class="form-control" placeholder="Date of birth" value="{{ session.get('dob', '') }}">
								</div>
								<div class="form-group">
									<label for="gender_id">Gender</label>
									{{ Form.select('gender_id', genderOptions, session.get('gender_id', ''), 
										'class="form-control"'
									) | raw }}
								</div>
								<div class="form-group">
									<label for="state_id">State/Country</label>
									{{ Form.select('state_id', stateOptions, session.get('state_id', ''), 
										'class="form-control"'
									) | raw }}
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button tabindex="6" class="form-control btn btn-register">Register Now</button>
										</div>
									</div>
								</div>
							</form>
							<div class="form-group">
								<div class="row">
									<div class="col-lg-12">
										<div class="text-center">
											<p class="lead">Already member?
											<a href="/login/get" tabindex="6" class="forgot-password">Login here</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="../../assets/dist/js/register.bundle.js"></script>
{% endblock %}