<button
 id="add-contact-btn"
  data-create-contact-url="/contacts/create" 
  class="btn btn-primary">
  	Add New Contact
</button>
<hr>
<div class="panel-group" id="contacts-accordion"></div>

<div class="modal fade" id="contactsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">Modal title</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div style="display: none;" class="alert alert-danger"></div>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>