{% extends "layouts/default.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	{% include 'partials/navbar.html' %}
    <div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h1>Profile info</h1>
							</div>
						</div>
						<hr>
					</div>

					<div class="row">
						<div class="col-lg-12">
							{% include 'partials/flash_message.html' %}
							<form id="profile-form" action="/profile/update" method="post" role="form">
								<div class="form-group required">
									<label for="username">Username</label>
									<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" disabled="true" value="{{ session.get('username', data.username) }}">
								</div>
								<div class="form-group required">
									<label for="email">Email Address</label>
									<input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="{{ session.get('email', data.email) }}">
								</div>
								<div class="form-group">
									<label for="first_name">First name</label>
									<input type="text" name="first_name" id="first_name" tabindex="3" class="form-control" placeholder="First name"  value="{{ session.get('first_name', data.first_name) }}">
								</div>
								<div class="form-group">
									<label for="last_name">Last name</label>
									<input type="text" name="last_name" id="last_name" tabindex="4" class="form-control" placeholder="Last name" value="{{ session.get('last_name', data.last_name) }}">
								</div>
								<div class="form-group">
									<label for="dob">Date of birth</label>
									<input type="text" name="dob" id="dob" readonly="true" tabindex="3" class="form-control" placeholder="Date of birth" value="{{ session.get('dob', data.dob) }}">
								</div>
								<div class="form-group">
									<label for="gender_id">Gender</label>
									{{ Form.select('gender_id', genderOptions, session.get('gender_id', data.gender_id), 
										'class="form-control"'
									) | raw }}
								</div>
								<div class="form-group">
									<label for="state_id">State/Country</label>
									{{ Form.select('state_id', stateOptions, session.get('state_id', data.state_id), 
										'class="form-control"'
									) | raw }}
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-6 col-sm-offset-3">
											<button  id="register-submit" tabindex="4" class="form-control btn btn-register">Update profile</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<h1>My Contacts</h1>
							</div>
						</div>
						<hr>
					</div>

					<div class="row">
						<div class="col-lg-12">
							<div class="container-fluid">
								{% include '/profile/_myContacts.html' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="../../assets/dist/js/profile.bundle.js"></script>
<script src="../../assets/dist/js/contacts.bundle.js"></script>
{% endblock %}