<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            <title>{% block title %}{% endblock %} - {{ env.appName }}</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    {% block footer %}
                        Copyright &copy; Stiiv {{ env.currYear() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    <script src="../../assets/dist/js/app.bundle.js"></script>
    {% block scripts %}{% endblock %}
    {% if env.devMode() %}
        <script>
          document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
          ':35729/livereload.js?snipver=1"></' + 'script>')
        </script> 
    {% endif %}
    </body>
</html>